* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-text;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
  font-weight: $light;
  text-transform: uppercase;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
}

main {
  padding-bottom: 4em;
}