.button {
  display: inline-block;
  line-height: 2.5;
  text-decoration: none;
  margin-top: 1em;
  color: $white;
  padding: 0 1.2em;
  &.primary {
    background: $color1;
    &:hover {
      background: darken($color1,10);
    }
  }
  &.secondary {
    background: $color2;
    &:hover {
      background: darken($color2,10);
    }
  }
  &.third {
    background: $color3;
    color: $black;
    &:hover {
      background: darken($color3,5);
    }
  }
}